body {
  background: url(../images/body.png);
}

.wrapper {
  min-width: 1040px;
}

.blog-title a {
  display: block;
  width: 282px;
  height: 61px;
  background-image: url(../images/logo.png);
  font-size: 0;
}

blockquote p {
  font-style: italic;
  font-size: 80%;
}

.sidebar {
  margin-top: 20px;

  & .widgets p {
    font-style: italic;
  }
}

.blog-header,
.sidebar .widgets {
  padding-right: 20px;
  padding-left: 20px;
}

.blog-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid rgb(100, 100, 100);
  border-right: none;
  background-image: url(../images/menu.png);
  box-shadow: 0 0 30px 0 rgba(50, 50, 50, 0.75);

  & a {
    color: #272f38;

    /* font-weight: bold; */
    font-size: 1.5em;
  }

  & .current-menu-item > a {
    color: #fad060;
  }
}

.wp-post-image {
  position: absolute;
  top: 20px;
  right: 0;
}

.content {
  position: relative;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(50, 50, 50, 0.75);
}

.post {
  background-color: transparent;
}

.post-header {
  margin-bottom: 180px;
  padding: none;
  border: none;
}

.post-inner {
  padding-top: 180px;
}

.gallery-item img {
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}

.post-content input[type="email"] {
  width: 100%;
  padding: 14px 16px;
  border: none;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #fdfdfd;
  color: #333;
  font-size: 0.85em;
  font-family: "Lato", sans-serif;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  -webkit-appearance: none;
}

.content form input[type="text"],
.content form input[type="email"],
.content form input.password,
.content form textarea {
  border: 1px solid rgb(200, 200, 200);
}

.ivycat-post {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;

  & .entry-title {
    float: left;
    margin-top: 0;
  }

  & .entry-date {
    float: right;
  }
}

.pip-nav ul {
  margin: 0;
}

.pip-nav li {
  list-style-type: none;
}

.credits {
  display: none;
}
